<div class="container"> 
    <div class="title-icons-box">     
        <h3 class=title-icons>AREAS WE SERVE</h3>
    </div>
    <div class="text-community-box">
        <p class="text-community">With a community of over 400 million users (and a majority age group being 18 to 29), wouldn’t you want to make sure you’re monitoring what people are posting on social networks? Especially if the demographic of your audience falls in that age range.</p>
    </div>


    <div class="container container-icons-tel">
        <div class="row">
            <div class="col-4 col-visit">
                <div class="container box-text-icon">
                    <div class="row">
                        <div class="col-8"> 
                            <h4>VISIT</h4>
                            <p>Our values and ideals are our decision making guide.</p>
                        </div>
                        <div class="col-4">
                            <%= image_tag("visit-icon.png", class: 'visit-icon icon') %>
                        </div>
                    </div>
                </div>

                <div class="container box-text-icon">
                    <div class="row">
                        <div class="col-8"> 
                            <h4>SAVE</h4>
                            <p>We only release our products when we feel they meet our standards.</p>
                        </div>
                        <div class="col-4">
                            <%= image_tag("share-icon.png", class: 'share-icon icon') %>
                        </div>
                    </div>
                </div>

                <div class="container box-text-icon">
                    <div class="row">
                        <div class="col-8"> 
                            <h4>EXPLORE</h4>
                            <p>We rely on the same platform and tools our customers pay us for.</p>
                        </div>
                        <div class="col-4">
                            <%= image_tag("explore-icon.png", class: 'explore-icon icon') %>
                        </div>
                    </div>
                </div>

            </div> 
            <div class="col-4 col-phone">
                <%= image_tag("phone-zohar.png", class: 'phone-icon') %>
            </div>
            <div class="col-4 col-organize">
            <div class="container box-text-icon">
            <div class="row">
                <div class="col-8"> 
                    <h4>ORGANIZE</h4>
                    <p>Beautiful products to help people with creative ideas succeed.</p>
                </div>
                <div class="col-4">
                    <%= image_tag("organize-icon.png", class: 'organize-icon icon') %>
                </div>
            </div>
        </div>

        <div class="container box-text-icon">
            <div class="row">
                <div class="col-8"> 
                    <h4>COMMUNICATE</h4>
                    <p>Creative, stylish, and easy-to-manage online presence.</p>
                </div>
                <div class="col-4">
                    <%= image_tag("commuticate-icon.png", class: 'communicate-icon icon') %>
                </div>
            </div>
        </div>

        <div class="container box-text-icon">
            <div class="row">
                <div class="col-8"> 
                    <h4>SHARE</h4>
                    <p>Share stories and create an impactful online presence.</p>
                </div>
                <div class="col-4">
                    <%= image_tag("share-icon.png", class: 'share-icon icon') %>
                </div>
            </div>
        </div>

            </div>
        </div>
    </div>
</div>
