<div class="background">
    <div class="container main_page"
        <div class="container banner">
            <div class="line_main_page"> </div>
            <div class="container text-banner">
                <h3 class="company-name">Invinity</h3>
                <h3 class="subtitle">Apps Production</h3>
            </div>
        </div>
    </div>
</div>

<div class="background-homepage-grey">
    <div class="contact-page">
        <div class="white-line-contact"> </div> 
        <div class="container transparent-background-contact">
            <div class="row">
                <div class="col-md-4">
                    +48 666 458 458
                </div>
                <div class="col-md-4">
                    kasia.ekiert@gmail.com
                </div>
                <div class="col-md-4">
                    Europe
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="new_experience">
            <div class="row">
                <div class="col-md-4">
                    <h3>EXPERIENCE</h3>
                    <h6>We focus on the needs of small to middle market businesses, not the Fortune 5000.</h6>
                </div>
                <div class="col-md-4">
                    <h3>STRATEGY</h3>
                    <h6> We focus on the needs of small to middle market businesses, not the Fortune 5000.</h6> 
                </div>
                <div class="col-md-4">
                    <h3>SOCIAL</h3>
                    <h6> We focus on the needs of small to middle market businesses, not the Fortune 5000.</h6> 
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="shaping-grey">
            <div class="row">
                <div class="col-md-4">
                    <p>SHAPING A NEW EXPERIENCE</p>
                </div>
                <div class="col-md-4">
                    <h5> We’re a creative branding and communications company of creative thinkers, strategists, digital innovators, designers and problem solvers. Our sense of curiosity brings</h5> 
                </div>
                <div class="col-md-4">
                    <h5> thinkers, strategists, digital innovators, designers and problem solvers (everyone gets a mention). Our sense of curiosity brings brands to life, gets them talking, and makes sure they’re heard above.</h5> 
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="icons">
            <div class="row">
                <div class="col-md-4">
                    <%= image_tag("development.png", class: 'icon-mainpage')%>
                    <p class="icons-title">DEVELOPMENT</p>
                    <h5 class="icons-p"> We work alongside national and international organizations dedicated to sustainable development. </h5>
                </div>
                <div class="col-md-4">
                    <%= image_tag("Intergration.png", class: 'icon-mainpage') %>
                    <p class="icons-title">INTEGRATION</p>
                    <h5 class="icons-p"> We work alongside national and international organizations dedicated to sustainable development. </h5>
                </div>
                <div class="col-md-4">
                    <%= image_tag("responsibility.png", class: 'icon-mainpage') %>
                    <p class="icons-title">CREATIVITY</p>
                    <h5 class="icons-p"> We work alongside national and international organizations dedicated to sustainable development. </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container cont-slider">
        <%= render "slider" %>
    </div>
</div>

<div class="dark-background"> 
    <div class="container">
        <div class="slider-counter"
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <span class="timer" data-from="0" data-to="12" data-speed="5000" data-refresh-interval="50"></span>
                                <p>YEARS OF EXPERIENCE</p>
                            </div> 
                            <div class="col-7 text-slider-counter">
                                <h4>Years of hard work, commitments for better productivity, work in different time zones.</h4>
                            </div>
                        </div> 
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <span class="timer" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50"></span>
                                <p>CUPS OF COFFEE/PER DAY</p>
                            </div> 
                            <div class="col-7 text-slider-counter">
                                <h4>Because we love it! Because we need it!</h4>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <span class="timer" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></span>
                                <p>5-STAR REVIEWS</p>
                                </div> 
                            <div class="col-7 text-slider-counter">
                                <h4>Where you will find the same quality of service and dedication around the world</h4>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="grey-icons-background">
    <%= render "icons" %>
</div> 

<div class="recomendation-background">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="recommend">
                    <div class="line_people_say"> </div>
                    <div class="people say">
                        <h3 class="people-say-text">WHAT PEOPLE SAY</h3>
                    </div>
                </div>
                <div class="recomment_text">
                    <div class="row">
                        <div class="col-3">
                        </div> 
                        <div class="col-9">
                            <h3 class="go_without_text">It should go without saying that designers, now more than ever, have to design with a mobile-first mentality.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="photo-client">
                            <%= image_tag("klient.jpg", class: 'klient-jpg') %>
                        </div>
                    </div>
                    <div class="col-10">
                        <p>by John Doe, Company CEO</p>
                    </div>
                </div>


            </div> 
            <div class="col-6">
                <%= image_tag("Amanda.png", class: 'face-recomentation') %>
            </div> 
        </div>
    </div>
</div>

<div class="background-dark-staff">
   
</div>

<div class="background-fair-cooperation">

</div>


</div>