<p id="notice"><%= notice %></p>

<% content_for :page_title,  "Index" %>

<div class="section">
    <div class="container">
        <% @articles.each do |article| %>
            <div class="card">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <p class="title is-4"><%= link_to article.title, article  %></p>
              </div>
            </div>
            <div class="body">
                 <%= article.body %>
            </div>
            <div class="comment-count">
                <span class="tag is-rounded"><%= article.comments.count %> comments</span>
            </div>
          </div>
        </div>
        <% end %>
    </div>
</div>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= will_paginate @articles %>

<br>


<%= link_to 'New Article', new_article_path %>
